<!--Data piola para atajos del visual code
https://docs.emmet.io/cheat-sheet/
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clase 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div id="app">
        <!-- Clase container es de bootsrap-->
        <div class="container">
            <!-- jumbotron otra clase de boostrap - mt-3 margin top 3 -->
            <div class="jumbotron mt-3">
                <h1>{{ mensaje }} </h1>
                
                <h4>Interpolacion - v-html - v-text </h4>
                {{ mensajeHTML }}
                <!--Voy a poner una directiva para que se vea bien el html-->
                <!-- v-html: Muestra como html -->
                <div v-html="mensajeHTML"></div>
                <!-- v-text: Muestra igual que interpolacion-->
                <div v-text="mensajeHTML"></div>

                <h4>v-if </h4>
                <!-- v-if: ocular o mostrar html-->
                <div v-if="mostrar" class="alert alert-warning">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos vitae nam dolores corrupti quasi cumque dolor assumenda eaque fugit, unde rerum error exercitationem facilis earum reiciendis quo voluptate temporibus deserunt!
                    <br>
                    <h4>v-for </h4>
                    <ul>
                        <!--v-for: directtiva para iterar-->
                        <li v-for="(usuario,index) in usuarios">
                                {{ index }}: {{ usuario.nombre }}
                        </li>
                    </ul>
                    <!-- Aca valido en si hay usuarios en la lista-->
                    <div v-if="usuarios.length">
                        <table class="table">
                            <tr>
                                <th>nombre</th>
                                <th>apellido</th>
                                <th>edad</th>
                                <th>curso</th>
                                <th>foto</th>
                            </tr>
                            <tr v-for="usuario in usuarios">
                                <th>{{usuario.nombre}}</th>
                                <th>{{usuario.apellido}}</th>
                                <th>{{usuario.edad}}</th>
                                <th>{{usuario.curso}}</th>
                                <!--v-bind: Para binder algo del vue al html-->
                                <!--: Para binder algo del vue al html-->
                                <th><img v-bind:src="usuario.foto" alt="alt" height="50"></th>
                            </tr>
                        </table>

                        <div class="alert alert-info">
                            {{contarUsuariosAsistentesAlCurso? contarUsuariosAsistentesAlCurso + " personas asistieron al curso": "Ninguna persona asistio al curso"}}  
                        </div>

                    </div>

                    <!-- contendor media de boostrap -->
                    <div class="media" v-for="(usuario,index) in usuarios">
                        <img :src="usuario.foto" height="150" alt="">
                        <div class="media-body">
                            <p><b>{{usuario.nombre}} {{usuario.apellido}}</b></p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam amet repellendus a, officiis, omnis unde molestias, alias laudantium cum quos itaque adipisci. Repudiandae doloribus necessitatibus inventore autem consequatur dicta ratione.</p>
                            <!-- v-model: Valor del checkboks -> double data binding-->
                            <input type="checkbox" v-model="usuario.curso">
                            <button class="btn btn-danger mx-4" @click="borrarUsuario(index)">Eliminar</button>
                        </div>
                    </div>
                </div>
                


                <h4>v-on:click - @click </h4>
                <!-- v-on:click: le avisa al js que se toco un click-->
                <button class="btn btn-success" v-on:click="mostrar=!mostrar"> Mostrar / Ocultar</button>
                <!-- Ahora le agrego una interpolacion al bootn para mostar bien el texto-->
                <button class="btn btn-success" v-on:click="mostrar=!mostrar"> {{ mostrar? 'Ocultar':'Mostrar'}} </button>
                <!-- @click es igual que v-on:click-->
                <button class="btn btn-success" @click="cambiarVistaTexto1"> {{ mostrar? 'Ocultar @ (metodo)':'Mostrar @ (metodo)'}} </button>


                <h4>v-model</h4>
                <!-- : es la forma reducida para bindear v: -->
                <input type="text" :value="valor">
                <!-- por defecto el binding es solo de ida, habria que activarlo para que sea bidireccional -->
                <input type="text" v-model="valor">
                <p>{{valor}}</p>

                <h4>COMPONENTES </h4>
                <contador inicial = "123"></contador>
                <contador inicial = "5"></contador>
                <contador inicial = "100"></contador>
                <contador inicial = "0"></contador>

                <!-- Bindeo de clases  -->
                <h4>:class </h4>
                <p :class="[estiloFondo, 'text-white']">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore itaque modi id voluptas adipisci quis incidunt in deleniti suscipit fugiat, eum eligendi nobis dolorem nulla obcaecati et necessitatibus provident accusamus?
                </p>
                <button :class="['btn','btn-success']" @click="estado1=!estado1">Cambiar fondo</button>
                <button :class="['btn','btn-success']" @click="estado2=!estado2">Cambiar fondo</button>
                {{estado1}} : {{estado2}}

                <p :class="[ (estado1 &&  estado2)? 'bg-success' : 'bg-danger', 'text-white']">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore itaque modi id voluptas adipisci quis incidunt in deleniti suscipit fugiat, eum eligendi nobis dolorem nulla obcaecati et necessitatibus provident accusamus?
                    </p>
                
                <!-- bindeo de estilos-->
                <h4>:style</h4>
                <button :class="['btn','btn-success']" @click="estado3=!estado3">Cambiar estilo</button>
                {{estado3}}
                
                <p :style="{'backgroundColor' : estado3? 'red': 'green', 'color': 'white'}">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi dolorum amet quasi sequi repudiandae voluptatem ex voluptates neque? Est fuga voluptas eaque ex nobis reiciendis nisi porro placeat animi nam?
                </p>

            </div>
        </div>
    </div>

    <!--Libreria vue dev-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Aca va a ir mi codigo-->
    <script src="js/main.js"></script>
</body>
</html>